@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*----------------------------------------
	共通部分
----------------------------------------*/
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.8;
  color: #333;
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.9375rem;
  }
}

a {
  transition: 0.3s;
  text-decoration: none;
  color: #391e88;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

li {
  list-style: none;
}

/* header
------------------------------------------------------ */
.header {
  position: fixed;
  height: 64px;
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header {
    height: 86px;
    padding: 0 30px;
  }
}

.header--active {
  height: 64px;
  background-color: #21054d;
}

.header-nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #7633a4, #250d65);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header-nav {
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    background-image: none;
  }
}

.header-nav.fade {
  opacity: 1;
  visibility: visible;
}

.header-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-align: center;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    position: static;
    transform: none;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 960px) {
  .header-nav__list {
    font-size: 0.875rem;
  }
}

.header-nav__item {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header-nav__item {
    margin-left: 25px;
    margin-bottom: 0px;
  }
}

.header-nav__link {
  position: relative;
  display: inline-block;
  color: #ffffff;
}

.header-nav__link::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav__link::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    display: block;
    height: 1px;
    content: "";
    transition: width 0.3s;
    background-color: #fff;
  }
}

.header-nav__link:hover {
  text-decoration: none;
}

.header-nav__link:hover::after {
  width: 100%;
}

/* main
------------------------------------------------------ */
.main--recruit {
  background-image: url(../../images/recruit/bg-geometry.png);
  background-repeat: repeat;
}

/* footer
------------------------------------------------------ */
.footer {
  background-color: #000000;
}

.footer__inner {
  text-align: center;
  padding: 60px 30px;
}
.footer__inner .copyright {
  color: white;
}

.footer-nav {
  padding-bottom: 30px;
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-nav__list {
    justify-content: center;
  }
}

.footer-nav__item:not(:last-child) {
  margin-right: 10px;
}

.footer-nav__link {
  padding: 5px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}

.footer-copyright {
  font-size: 0.625rem;
  text-transform: uppercase;
}

.footer-copyright__link {
  color: #a798b7;
}

/* hamburger
------------------------------------------------------ */
.hamburger {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
}

.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  transition: transform 0.3s;
}

.hamburger__line::before {
  top: -8px;
}

.hamburger__line::after {
  bottom: -8px;
}

/*閉じる*/
.hamburger.close .hamburger__line {
  background: transparent;
}

.hamburger.close .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger.close .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* sub-mv
------------------------------------------------------ */
.sub-mv {
  background-image: url(../../images/common/hero.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .sub-mv {
    height: 240px;
  }
}

.sub-mv__inner {
  padding-top: 65px;
}

/* breadcrumb
------------------------------------------------------ */
.breadcrumb {
  background-color: #f0f0f0;
  position: sticky;
  top: 64px;
}

.breadcrumb__list {
  max-width: 1140px;
  margin: 0 auto;
  padding: 5px 15px;
}
@media screen and (min-width: 768px) {
  .breadcrumb__list {
    padding: 10px 15px;
  }
}

.breadcrumb__item {
  display: inline;
  text-transform: uppercase;
  font-size: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .breadcrumb__item {
    font-size: 0.75rem;
  }
}

.breadcrumb__item:not(:last-child)::after {
  content: ">";
  margin: 0 0.5em;
}

/* logo
------------------------------------------------------ */
.logo__img img {
  vertical-align: baseline;
}

/* heading-lv2
------------------------------------------------------ */
.heading-lv2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2;
  text-transform: uppercase;
  color: #391e88;
  margin-bottom: 30px;
}

.heading-lv2__main {
  font-size: 1.875rem;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .heading-lv2__main {
    font-size: 2.25rem;
  }
}

.heading-lv2__sub {
  font-size: 0.8125rem;
}

.heading-lv2--white {
  color: #ffffff;
}

/* heading-lv3
------------------------------------------------------ */
.heading-lv3 {
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: #391e88;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .heading-lv3 {
    font-size: 2rem;
  }
}

/* btn
------------------------------------------------------ */
.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 220px;
  padding: 15px 10px;
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 200% auto;
  text-decoration: none;
}

.btn::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  right: 1.5em;
  font-size: 0.9375rem;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-position: right center;
}

.btn:hover::after {
  right: 1.2em;
}

.btn--transparent {
  border: 1px solid #ffffff;
  background: none;
}

/* section
------------------------------------------------------ */
.section {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 70px 0;
  }
}

.section__inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* contact
------------------------------------------------------ */
.contact {
  text-align: center;
  background-color: #f0f0f0;
  padding: 60px 0;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 80px 0;
  }
}

.contact__text {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 0.9375rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__text-br {
    display: none;
  }
}

/* page-top
------------------------------------------------------ */
.page-top {
  z-index: 10;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
@media screen and (min-width: 768px) {
  .page-top {
    right: 45px;
    bottom: 45px;
  }
}

.page-top__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #391e88;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.page-top__link:hover {
  text-decoration: none;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .page-top__link:hover {
    opacity: 0.8;
  }
}

.page-top__link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f062";
  font-weight: 600;
}

/* grid
------------------------------------------------------ */
.grid {
  display: grid;
  gap: 30px;
}

/*PC3カラム*/
@media screen and (min-width: 768px) {
  .grid--pc3col {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* message
------------------------------------------------------ */
.message {
  text-align: center;
}

.message__underline {
  background: linear-gradient(transparent 70%, #f5f534 0%);
}

.message__heading {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 2rem;
  display: inline-block;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .message__heading {
    font-size: 2.5rem;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .message__heading-br {
    display: none;
  }
}

.message__text {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .message__text-br {
    display: none;
  }
}

/* pager
------------------------------------------------------ */
.pager {
  display: flex;
  overflow-x: auto;
}
.pager__inner {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.pager__inner > *:last-child {
  margin-right: 0;
}
.pager__item {
  list-style: none;
  margin-right: 10px;
}
.pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.25s;
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  font-size: 1.25rem;
  font-weight: bold;
}
.pager__link--active {
  background: #f1ebf8;
  color: #333;
  pointer-events: none;
}

/* media
------------------------------------------------------ */
.media {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .media {
    flex-direction: row;
  }
}

.media:not(:last-of-type) {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .media:not(:last-of-type) {
    padding-bottom: 60px;
  }
}

.media__img-inner {
  margin-bottom: 20px;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .media__img-inner {
    margin-right: 50px;
    margin-bottom: 0;
    flex: 0 1 40%;
  }
}

.media__img {
  width: 100%;
}

.media__body {
  flex: 1;
}

.media__title {
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .media__title {
    line-height: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: start;
  }
}

.media__text--br:not(:last-of-type) {
  margin-bottom: 20px;
}

/* table
------------------------------------------------------ */
.table__inner {
  width: 100%;
  border-collapse: collapse;
  /*セル同士の間に隙間を開けない*/
}

.table__row {
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
  .table__row {
    border-bottom: none;
    display: flex;
  }
}

.table__header {
  display: block;
  width: 20%;
  text-align: left;
  vertical-align: middle;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .table__header {
    margin-top: 0;
    padding: 30px 10px;
    border-bottom: 1px solid #ddd;
  }
}

.table__text {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .table__text {
    margin-bottom: 0;
    padding: 30px 10px;
    border-bottom: 1px solid #ddd;
    flex: 1;
  }
}

.table__list {
  margin-top: 10px;
}

.table__item {
  list-style-type: disc;
  list-style-position: inside;
}

/* mv
------------------------------------------------------ */
.mv {
  background-image: url(../../images/common/hero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mv__inner {
  padding: 0 30px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    text-align: center;
  }
}

.mv__title-main {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .mv__title-main {
    font-size: 4.5rem;
  }
}

.mv__title-sub {
  font-size: 1rem;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .mv__title-sub {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .mv__title-sub-br {
    display: none;
  }
}

.mv__scrolldown {
  position: absolute;
  right: -10px;
  bottom: 85px;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .mv__scrolldown {
    right: 3px;
    bottom: 115px;
  }
}

.mv__scrolldown-text {
  transform: rotate(90deg);
  display: inline-block;
}

.mv__scrolldown::after {
  content: "";
  position: absolute;
  bottom: -115px;
  left: 50%;
  width: 1px;
  height: 80px;
  background-color: #ffffff;
  -webkit-animation: scrollDownLine 1.5s infinite;
  animation: scrollDownLine 1.5s infinite;
}

@-webkit-keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
/* news
------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .news__inner {
    display: flex;
    max-width: 950px;
  }
}

@media screen and (min-width: 768px) {
  .news__heading {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .news__heading .heading-lv2__sub {
    text-align: left;
  }
}

/* news
------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .news-list__item {
    display: flex;
    align-items: flex-start;
    font-size: 0.875rem;
  }
}

.news-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .news-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.news-list__header {
  display: flex;
}

.news-list__date {
  margin-right: 20px;
}

.news-list__tag {
  display: inline-block;
  padding: 2px 10px;
  width: 80px;
  border-radius: 50px;
  text-align: center;
  background-color: #e8e8e8;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 20px;
}

.news-list__link {
  color: #333;
}

/* service
------------------------------------------------------ */
.service__btn {
  text-align: center;
}

/* service-card
------------------------------------------------------ */
.service-cards {
  margin-bottom: 30px;
}

.service-card__img-inner {
  margin-bottom: 15px;
}

.service-card__title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

/* works
------------------------------------------------------ */
.works {
  padding: 0;
}

.works__inner {
  display: flex;
  max-width: 1300px;
  padding: 30px 20px 60px 20px;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__inner {
    flex-direction: row;
    padding: 60px 20px;
  }
}

.works__inner::after {
  position: absolute;
  top: 31%;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68%;
  content: "";
  background-color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  .works__inner::after {
    top: 50%;
    right: 0;
    width: 60%;
    height: 100%;
    transform: translateY(-50%);
  }
}

.works__img-inner {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .works__img-inner {
    width: 59.5238095238%;
    margin-right: 3.33333%;
    margin-bottom: 0px;
  }
}

.works__body {
  flex: 1;
  text-align: center;
}

.works__text {
  margin-bottom: 30px;
}

/* company
------------------------------------------------------ */
.company {
  padding: 0;
}

.company__inner {
  background-image: url(../../images/common/bg-circle.png);
  padding: 60px 0;
  max-width: 1300px;
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .company__inner {
    padding: 100px 0;
    background-image: url(../../images/common/bg-circle.png), url(../../images/common/bg-face.png);
    background-position: center center, center center;
  }
}

.company__btn {
  text-align: center;
}

/* recruit
------------------------------------------------------ */
.recruit {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .recruit {
    padding: 70px 0;
  }
}

@media screen and (min-width: 768px) {
  .recruit__inner {
    display: flex;
    flex-direction: row-reverse;
  }
}

.recruit__img-inner {
  height: 200px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .recruit__img-inner {
    flex: 0 1 100%;
    height: 100%;
  }
}

.recruit__img {
  width: 100%;
  height: 100%;
}

.recruit__body {
  background-color: #f0f0f0;
  position: relative;
  padding: 70px 40px;
}
@media screen and (min-width: 768px) {
  .recruit__body {
    flex: 0 0 445px;
  }
}

.recruit__body-inner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .recruit__body-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.recruit__text {
  margin-bottom: 30px;
}

/* company-media
------------------------------------------------------ */
.company-media__inner {
  max-width: 1140px;
  margin: 0 auto;
}

/* company-access
------------------------------------------------------ */
.company-access__map iframe {
  width: 100%;
  height: 240px;
}
@media screen and (min-width: 768px) {
  .company-access__map iframe {
    height: 400px;
  }
}

.company-access__link {
  font-size: 0.875rem;
}

/* company-info
------------------------------------------------------ */
.company-info__table {
  margin-bottom: 60px;
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書き*/
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1rem;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
textarea,
select {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  input[type=tel] {
    width: 200px;
  }
}

input[type=radio] {
  margin-right: 5px;
}

.form__item {
  padding-bottom: 30px;
}

.form__ttl {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form__textarea {
  min-height: 200px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form__textarea {
    min-width: 600px;
  }
}

.form__btn {
  margin-top: 15px;
  text-align: center;
}

/*補足説明文
---------------------------------*/
.inputNote {
  margin-left: 5px;
  font-size: 0.75rem;
  font-weight: normal;
}

/*セレクトボックス
------------------------------------*/
select {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
@media screen and (min-width: 768px) {
  select {
    width: 300px;
  }
}

.radio-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .radio-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.radio-item:not(:last-of-type) {
  margin-right: 35px;
}

/*必須・任意ラベル
---------------------------------*/
.label-required {
  margin-left: 10px;
  color: #391e88;
  font-size: 0.75rem;
}

/* contact-form
------------------------------------------------------ */
.contact-form__inner {
  max-width: 780px;
}

.contact-form__lead {
  margin-bottom: 40px;
  text-align: center;
}

.contact-form__body {
  background-color: #f7f7f7;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .contact-form__body {
    padding: 90px;
  }
}

/* news-list-wrapper
------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .news-list-wrapper__inner {
    max-width: 780px;
  }
}

.news-list-wrapper__body {
  margin-bottom: 40px;
}

/* recruit-message
------------------------------------------------------ */
.recruit-message {
  overflow: hidden;
}

.recruit-message__heading {
  color: #391e88;
  margin: 20px 0;
  text-align: center;
}

.recruit-message__title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .recruit-message__title {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.recruit-message__sub-title {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .recruit-message__sub-title {
    font-size: 2rem;
  }
}

.recruit-message__lead {
  text-align: center;
  font-size: 0.9375rem;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .recruit-message__lead {
    font-size: 1rem;
  }
}

.recruit-message__img-inner {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

/* recruit-job
------------------------------------------------------ */
.recruit-job__list {
  padding: 30px 20px;
  border: 1px solid #b067cf;
  border-radius: 6px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .recruit-job__list {
    padding: 60px 95px;
  }
}

.recruit-job__name {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .recruit-job__name {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
}

.recruit-job__table {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .recruit-job__table {
    margin-bottom: 50px;
  }
}

.recruit-job__link {
  text-align: center;
}

.recruit-job__btn {
  margin-bottom: 5px;
}

.recruit-job__note {
  font-size: 0.75rem;
}

/* recruit-video
------------------------------------------------------ */
.recruit-video__box {
  background-color: #f0f0f0;
  aspect-ratio: 16/9;
}

/* works-list
------------------------------------------------------ */
.works-list__img-inner {
  margin-bottom: 15px;
}

.works-list__img {
  border: 1px solid #ececec;
}

.works-list__body {
  text-align: center;
  color: #333;
}

.works-list__title {
  font-size: 1rem;
}

/* swiper
------------------------------------------------------ */
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 39px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .swiper-button-next,
.swiper-button-prev {
    width: 20px;
    height: 25px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  color: #391e88;
}
@media screen and (min-width: 768px) {
  .swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 2rem;
  }
}

.swiper-button-prev:after {
  content: "\f104";
}

.swiper-button-next:after {
  content: "\f105";
}

.swiper-pagination-bullet-active {
  background: #391e88;
}

.swiper-pagination-bullets {
  bottom: 0;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */